main {
    margin: 100px;
}

img {
    max-width: 450px;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

section div {
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}

.text_exhibitions {
    max-width: 300px;
    padding: 30px 50px;
    margin: auto;
}

p {
    color: #292929;
}

/* --------------------------------------------- RESPONSIVENESS ---------------------------------------- */

/* Mobile */

@media only screen and (max-width: 768px) {

main {
    margin: 0px;
}

section:first-child {
    margin-top: 75px;
}

section div img {
    border-radius: 0px;
    width: 100%;
    max-width: unset;
}

.text_exhibitions {
    margin: 0px;
    border-radius: 0px;
    max-width: unset;
    padding: 25px;
}

section div {
    margin: 0px;
    border-radius: 0px;
    background-color: unset;
}
}
