/* ------------------------------------------- 
´´´´´´´´´´´´´ SEMESTER PROJECT 1 `````````````
------------------------------------------- */

/* _-_-_-_-_-_-_ Exhibitions CSS -_-_-_-_-_-_- */

/*-*-*-*-* Main & Sections *-*-*-*-*/

main {
    margin: 100px;
}


section {
    column-gap: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section div {
    background-color: white;
    border-radius: 15px;
    margin: 20px;
}

/*-*-*-*-* Images & Text *-*-*-*-*/

img {
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    max-width: 450px;
}

.text_exhibitions {
    margin: auto;
    max-width: 300px;
    padding: 30px 50px;
}

p {
    color: #292929;
}

/* --------------------------------------- 
´´´´´´´´´´´´´ RESPONSIVENESS `````````````
------------------------------------------ */

/* _-_-_-_-_-_-_ MOBILE -_-_-_-_-_-_- */

@media only screen and (max-width: 768px) {

/*-*-*-*-* Main & Sections *-*-*-*-*/

main {
    margin: 0px;
}

section:first-child {
    margin-top: 75px;
}

section div {
    background-color: unset;
    border-radius: 0px;
    margin: 0px;
}

/*-*-*-*-* Images & Text *-*-*-*-*/

section div img {
    border-radius: 0px;
    max-width: unset;
    width: 100%;
}

.text_exhibitions {
    border-radius: 0px;
    margin: 0px;
    max-width: unset;
    padding: 25px;
}


}
