.explore-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.explore-content-container {
  display: flex;
  gap: 40px;
}

.explore-content-img {
  max-width: 700px;
}

.explore-content-img img {
  object-fit: cover;
  max-height: 550px;
  width: 100%;
}

.text-explore {
  color: var(--colorWhite);
  max-width: 400px;
}

.text-explore h2 {
  color: var(--colorOrange);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .explore-content-container {
    display: flex;
    flex-direction: column;
  }

  .text-explore {
    border-radius: unset;
    max-width: none;
    padding: 25px;
  }

  .for-teachers {
    flex-direction: column-reverse;
  }
}
