
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text_explore {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5em;
    max-width: 400px;
    padding: 75px;
    background-color: #EDF1F4;
    border-radius: 15px;
}

main {
    background-image: url(../images/roberto-nickson-396152.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Universal Properties */

p {
    line-height: 1.5;
}

/* Magic Tricks */

@media only screen and (min-width: 768px) {
    .hidden_img {
        display: none;
    }
}

/* --------------------------------------------- RESPONSIVENESS ---------------------------------------- */

/* Mobile */

@media only screen and (max-width: 768px) {

    main {
        background: none;
    }

    section {
        padding: 0px;
    }

    .text_explore {
        border-radius: unset;
        padding: 25px;
        max-width: none;
    }

    .hidden_img img {
        width: 100%;
    }
}