/* -------------------------------------------
´´´´´´´´´´´´´ SEMESTER PROJECT 1 `````````````
------------------------------------------- */

/* _-_-_-_-_-_-_ Get Involved CSS -_-_-_-_-_-_- */

/*-*-*-*-* Main & Sections *-*-*-*-*/

/* main {
  background-attachment: fixed;
  background-image: url(../images/william-bout-264826.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.get-involved_image img {
  width: 100%;
  aspect-ratio: 4 / 1;
}

main {
  margin: 50px 200px;
}

section {
  display: flex;
  justify-content: center;
  /* padding: 25px; */
}

.get_involved_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 25px; */
}

.text_get_involved {
  background-color: #edf1f4;
  border-radius: 15px;
  max-width: 400px;
  /* padding: 50px; */
}

/*-*-*-*-* Button *-*-*-*-*/

.button_wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  background: #ea5147;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  max-width: 400px;
  padding: 25px 100px;
  text-transform: uppercase;
  width: 100%;
}

/* ---------------------------------------
´´´´´´´´´´´´´ RESPONSIVENESS `````````````
------------------------------------------ */

/* _-_-_-_-_-_-_ MOBILE -_-_-_-_-_-_- */

@media only screen and (max-width: 768px) {
  /*-*-*-*-* Main & Sections *-*-*-*-*/

  .get-involved_image img {
    width: 100%;
    aspect-ratio: 1.8 / 1;
  }

  main {
    position: unset;
    background-image: none;
    margin: 0;
  }

  .text_get_involved {
    margin: 0px 20px;
  }

  .get_involved_text_wrap:first-child {
    padding-top: 25px;
  }

  .text_get_involved {
    padding: 0px;
  }

  /*-*-*-*-* Button *-*-*-*-*/

  button {
    max-width: 440px;
  }

  .button_wrap {
    padding: 20px 0px;
  }
}
