main {
    background-image: url(../images/william-bout-264826.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text_get_involved {
    max-width: 400px;
    padding: 75px;
    background-color: #EDF1F4;
    border-radius: 15px;
}

.button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 50px;
}

button {
    font-size: 20px;
    background: black;
    border-radius: 10px;
    color: white;
    padding: 25px 100px;
    text-transform: uppercase;
    border-style: none;
    max-width: 400px;
    width: 100%;
}

/* --------------------------------------------- RESPONSIVENESS ---------------------------------------- */

/* Mobile */

@media only screen and (max-width: 768px) {
    
    .text_get_involved {
        padding: 20px;
    }

    section {
        padding: 25px;
    }

    .button_wrap {
        padding: 25px 25px 50px;
    }
    }