/* ------------------------------------------- 
´´´´´´´´´´´´´ SEMESTER PROJECT 1 `````````````
------------------------------------------- */

/* _-_-_-_-_-_-_ Header & Footer CSS -_-_-_-_-_-_- */

/*-*-*-*-* Header & Footer Universal Properties *-*-*-*-*/

footer,
header {
  background-color: rgb(17, 17, 17);
  height: auto;
}

/*-*-*-*-* Header *-*-*-*-*/

header {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  list-style: none;
  padding: 50px 100px 50px;
  text-transform: uppercase;
}

/*/ Navigation /*/

nav {
  display: flex;
}

nav li {
  padding-left: 50px;
}

/*/ Pseudo Elements /*/

header a {
  border-bottom: 3px solid transparent;
}

header a:hover {
  border-bottom: 3px solid #ea5147;
}

.active {
  color: #ea5147;
}

/*-*-*-*-* Footer *-*-*-*-*/

footer {
  width: 100%;
}

footer h3 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

footer p {
  color: #c3c3c3;
  font-family: "Roboto", sans-serif;
  line-height: 0.5;
}

.foot_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
  padding: 50px 0px;
}

.museum_logo {
  display: flex;
}

.museum_logo h3 {
  padding-left: 20px;
}

.museum_logo img {
  background-color: #c3c3c3;
  border-radius: 100%;
  height: 135px;
}

.social img {
  height: 50px;
  padding-right: 5px;
}

.individual_clr {
  color: white;
}

.footer_txt {
  line-height: unset;
  margin: auto;
  text-align: center;
}

/* --------------------------------------- 
´´´´´´´´´´´´´ RESPONSIVENESS `````````````
------------------------------------------ */

/* _-_-_-_-_-_-_ MOBILE -_-_-_-_-_-_- */

@media only screen and (max-width: 768px) {
  /*-*-*-*-* Header *-*-*-*-*/

  /*
Removes underlined nav and turning the menu into a column 
*/

  header {
    align-items: baseline;
    flex-direction: column;
    padding: 25px;
    position: sticky;
    top: 0;
  }

  header a {
    border-bottom: none;
  }

  header a:hover {
    border-bottom: none;
  }

  .active {
    border-bottom: none;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
  }

  nav li {
    padding-left: 0px;
  }

  /*-*-*-*-* Footer *-*-*-*-*/

  .foot_wrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
    margin: 0px;
    padding: 25px 0px;
  }

  .museum_logo {
    align-items: center;
  }

  .museum_logo img {
    height: 80px;
  }

  .donate {
    padding-bottom: 20px;
  }

  footer {
    position: absolute;
  }
}

/* _-_-_-_-_-_-_ OTHER SCREEN ADAPTATIONS -_-_-_-_-_-_- */

/*-*-*-*-* Header *-*-*-*-*/

/*
Centers the navigation to fit the screen better
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    align-items: center;
    flex-direction: column;
  }

  nav {
    padding-top: 25px;
  }
}

/*
Prevents the header from coming along on scrolling when using horizontal view on phones. 
*/

@media only screen and (min-width: 415px) {
  header {
    position: unset;
  }
}

/*-*-*-*-* Footer *-*-*-*-*/

/* 
Forcing the footer to have 50-50 split between items above and below at all times
*/

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .foot_wrapper > div {
    padding: 20px;
  }

  .foot_wrapper {
    margin: auto;
    max-width: 900px;
  }
}
