/* ------------------------------------------- 
´´´´´´´´´´´´´ SEMESTER PROJECT 1 `````````````
------------------------------------------- */

/* _-_-_-_-_-_-_ Index CSS -_-_-_-_-_-_- */

/*-*-*-*-* Text and Font Properties *-*-*-*-*/

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  color: #ea5147;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: #323954;
  font-family: "Lora", serif;
  max-width: 400px;
}

/*-*-*-*-* Body *-*-*-*-*/

body {
  background-color: #edf1f4;
  margin: 0px;
  width: auto;
}

/*-*-*-*-* Visit-Background With Direct Link *-*-*-*-*/

.visit_link {
  align-items: center;
  background-image: url(../images/exhibition-1863344_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 750px;
  justify-content: center;
}

/*-*-*-*-* Museum Info Area *-*-*-*-*/

.explore_text {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.explore_text h1 {
  max-width: 255px;
}

.text {
  line-height: 1.5;
  padding: 100px;
}

/*-*-*-*-* Exhibitions-Background With Direct Link *-*-*-*-*/

.exhibitions_link {
  align-items: center;
  background-image: url(../images/jesse-orrico-60373.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 750px;
  justify-content: center;
}

/*-*-*-*-* News Area *-*-*-*-*/

.news {
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
}

.news_header {
  padding: 0px 25px;
}

.columns {
  display: flex;
  line-height: 1.5;
}

.col {
  flex-basis: 100%;
  padding: 0px 25px;
}

/*-*-*-*-* Explore-Background With Direct Link *-*-*-*-*/

.explore_link {
  align-items: center;
  background-image: url(../images/andrew-ruiz-348421.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 750px;
  justify-content: center;
}

.individual_font {
  font-size: 25px;
  text-decoration: overline;
  text-transform: initial;
}

/*-*-*-*-* Buttons *-*-*-*-*/

.small_btn {
  background-color: #c3c3c3;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 22px;
  text-align: center;
}

.medium_btn {
  background: black;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 25px 100px;
  text-transform: uppercase;
}

.button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 20px;
  text-transform: uppercase;
  align-items: center;
  border-color: #fff;
  border-style: solid;
  display: flex;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  width: 400px;
}

/*-*-*-*-* Pseudo Elements *-*-*-*-*/

.button1:hover {
  background: #ea5147;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
}

.button2:hover {
  background: #4f4d6d;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
}

.button3:hover {
  background: #ac8634;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
}

/*-*-*-*-* Links *-*-*-*-*/

a {
  text-decoration: none;
  color: white;
}

/*-*-*-*-* Backgrounds *-*-*-*-*/

.backgrounds_index {
  background-attachment: fixed;
  position: relative;
  background-position: center;
}

/* --------------------------------------- 
´´´´´´´´´´´´´ RESPONSIVENESS `````````````
------------------------------------------ */

/* _-_-_-_-_-_-_ MOBILE -_-_-_-_-_-_- */

@media only screen and (max-width: 768px) {
  /*-*-*-*-* Background Images *-*-*-*-*/

  .backgrounds_index {
    background-attachment: unset;
    position: unset;
  }

  .visit_link {
    height: 300px;
  }

  .exhibitions_link {
    height: 400px;
  }

  .explore_link {
    height: 400px;
  }

  /*-*-*-*-* Explore Area Home *-*-*-*-*/

  .explore_text {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .text {
    padding: 25px;
  }

  /*-*-*-*-* Max Width removed on text *-*-*-*-*/

  .text_explore p,
  .col p,
  .text p {
    max-width: none;
  }

  /*-*-*-*-* News Section *-*-*-*-*/

  .columns {
    flex-direction: column;
  }

  .news {
    margin: 0px;
  }

  /*-*-*-*-* Buttons *-*-*-*-*/

  .button {
    font-size: 25px;
    height: 30px;
    width: 250px;
  }

  .individual_font {
    text-decoration: underline;
    text-transform: none;
  }
}

/*
Removes the image of a kid playing with geometrical figures to make the site look cleaner
*/

@media only screen and (min-width: 438px) and (max-width: 900px) {
  .explore_img {
    display: none;
  }
}

/* 
Making the columns appear on top of eachother instead of being cramped together. Also centers the columns 
*/

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .news {
    align-items: center;
  }

  .columns {
    flex-direction: column;
  }
}
