.visit-image img {
  width: 100%;
  aspect-ratio: 2.5 / 1;
}

.visit-section {
  background-color: var(--backgroundColor);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.text-visit {
  color: var(--colorBlack);
  max-width: 400px;
  width: 100%;
}

.text-visit h2 {
  color: var(--colorBlack);
  margin: 10px 0;
}

.closed-text {
  font-weight: 700;
  color: var(--color);
}
